DataFrame

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns 
from matplotlib import pyplot as plt 
from tqdm import trange, notebook

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [162]:
nationality = {'team': ["Netherlands","Senegal","Ecuador","Qatar", "England","United States","Iran","Wales", "Argentina","Poland","Mexico", "Saudi Arabia", "France","Australia","Tunisia","Denmark", "Japan","Spain","Germany","Costa Rica", "Morocco","Croatia","Belgium","Canada", "Brazil","Switzerland","Cameroon","Serbia", "Portugal","South Korea","Uruguay","Ghana"]}

df_nationality = pd.DataFrame(nationality)

df_nationality

             team
0     Netherlands
1         Senegal
2         Ecuador
3           Qatar
4         England
5   United States
6            Iran
7           Wales
8       Argentina
9          Poland
10         Mexico
11   Saudi Arabia
12         France
13      Australia
14        Tunisia
15        Denmark
16          Japan
17          Spain
18        Germany
19     Costa Rica
20        Morocco
21        Croatia
22        Belgium
23         Canada
24         Brazil
25    Switzerland
26       Cameroon
27         Serbia
28       Portugal
29    South Korea
30        Uruguay
31          Ghana

In [163]:
df_rankings = pd.read_csv('/content/drive/MyDrive/2022/BigData/fifa_ranking-20221006.csv')
df_rankings

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,142,Nicaragua,NCA,1071.83,1079.18,3,CONCACAF,2022-10-06
1,141,Burundi,BDI,1076.26,1076.26,0,CAF,2022-10-06
2,140,St. Kitts and Nevis,SKN,1076.91,1076.91,0,CONCACAF,2022-10-06
3,135,Turkmenistan,TKM,1100.47,1100.47,0,AFC,2022-10-06
4,138,Ethiopia,ETH,1091.19,1088.27,0,CAF,2022-10-06
...,...,...,...,...,...,...,...,...
206,74,El Salvador,SLV,1330.51,1333.48,3,CONCACAF,2022-10-06
207,75,Oman,OMA,1320.29,1323.03,0,AFC,2022-10-06
208,76,Israel,ISR,1316.55,1316.35,0,UEFA,2022-10-06
209,78,Georgia,GEO,1307.34,1296.46,-4,UEFA,2022-10-06
210,211,San Marino,SMR,762.22,763.82,0,UEFA,2022-10-06

In [164]:
df_rankings = df_rankings.replace({"IR Iran":"Iran"})
df_rankings = df_rankings.replace({"USA" : "United States"})
df_rankings = df_rankings.replace({"Korea Republic" : "South Korea"})

In [165]:
df_rankings = pd.DataFrame(df_rankings, columns = ['country_full', 'total_points']).reset_index(drop=True)
df_rankings.shape[0]

211

In [166]:
df_rankings

            country_full  total_points
0              Nicaragua       1071.83
1                Burundi       1076.26
2    St. Kitts and Nevis       1076.91
3           Turkmenistan       1100.47
4               Ethiopia       1091.19
..                   ...           ...
206          El Salvador       1330.51
207                 Oman       1320.29
208               Israel       1316.55
209              Georgia       1307.34
210           San Marino        762.22

[211 rows x 2 columns]

In [167]:
dataset = df_nationality
dataset['total_points'] = np.nan

In [168]:
dataset

             team  total_points
0     Netherlands           NaN
1         Senegal           NaN
2         Ecuador           NaN
3           Qatar           NaN
4         England           NaN
5   United States           NaN
6            Iran           NaN
7           Wales           NaN
8       Argentina           NaN
9          Poland           NaN
10         Mexico           NaN
11   Saudi Arabia           NaN
12         France           NaN
13      Australia           NaN
14        Tunisia           NaN
15        Denmark           NaN
16          Japan           NaN
17          Spain           NaN
18        Germany           NaN
19     Costa Rica           NaN
20        Morocco           NaN
21        Croatia           NaN
22        Belgium           NaN
23         Canada           NaN
24         Brazil           NaN
25    Switzerland           NaN
26       Cameroon           NaN
27         Serbia           NaN
28       Portugal           NaN
29    South Korea           NaN
30        Uruguay           NaN
31          Ghana           NaN

In [169]:
for index in dataset.index:
  nationality = dataset.loc[index, ['team']]
  nationality = nationality[0]
  try:
    data1 = df_rankings['total_points'].loc[df_rankings['country_full'] == nationality]
    dataset.loc[index, ['total_points']] = float(data1)
  except:
    continue

In [170]:
dataset.shape[0]

32

In [171]:
dataset.isnull().sum()

team            0
total_points    0
dtype: int64

In [172]:
dataset

             team  total_points
0     Netherlands       1694.51
1         Senegal       1584.38
2         Ecuador       1464.39
3           Qatar       1439.89
4         England       1728.47
5   United States       1627.48
6            Iran       1564.61
7           Wales       1569.82
8       Argentina       1773.88
9          Poland       1548.59
10         Mexico       1644.89
11   Saudi Arabia       1437.78
12         France       1759.78
13      Australia       1488.72
14        Tunisia       1507.54
15        Denmark       1666.57
16          Japan       1559.54
17          Spain       1715.22
18        Germany       1650.21
19     Costa Rica       1503.59
20        Morocco       1563.50
21        Croatia       1645.64
22        Belgium       1816.71
23         Canada       1475.00
24         Brazil       1841.30
25    Switzerland       1635.92
26       Cameroon       1471.44
27         Serbia       1563.62
28       Portugal       1676.56
29    South Korea       1530.30
30        Uruguay       1638.71
31          Ghana       1393.00

## Player 23

In [173]:
# FIFA 15-23 player 최종본 
df_player22 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23_Edited_Attributes.xlsx", sheet_name=8)

In [174]:
df_player = df_player22

In [175]:
# nationality_name, Model_Position로 group by 한 후, Position_Best_Rating 에 대해 rank 매기기 
df_player['rank_in_nation'] = df_player.groupby(['nationality_name','Model_Position'])['Position_Best_Rating'].rank(method='first',ascending=False)

In [176]:
df_player = df_player.astype({'rank_in_nation':'int'})
df_player.head()

,short_name,overall,nationality_name,preferred_foot,pace,shooting,passing,dribbling,defending,physic,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,Position_Best_Rating,Model_Position,rank_in_nation
0,A. Broja,75,Albania,Right,76,74,54,75,29,76,9,7,15,8,9,77,T,1
1,A. Ismajli,71,Albania,Right,72,28,48,61,74,65,9,14,10,12,13,73,B,2
2,B. Djimsiti,79,Albania,Right,71,39,59,50,82,81,10,6,13,10,10,78,M,1
3,E. Hysaj,75,Albania,Right,75,51,65,72,72,72,12,6,14,9,11,74,M,4
4,K. Asllani,72,Albania,Right,66,61,70,70,69,62,9,8,12,6,6,72,B,3

In [177]:
df_player = df_player.replace({"Korea Republic":"South Korea"})

In [178]:
df_player.loc[df_player['nationality_name'].str.contains('Korea')] # 값이 같은 경우 rank

,short_name,overall,nationality_name,preferred_foot,pace,shooting,passing,dribbling,defending,physic,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,Position_Best_Rating,Model_Position,rank_in_nation
484,Choi Young Joon,72,South Korea,Right,68,60,66,66,69,81,13,7,7,16,10,72,B,3
485,H. Son,89,South Korea,Right,88,89,82,86,42,69,11,13,13,6,10,88,T,1
486,Hong Jeong Ho,74,South Korea,Right,76,45,54,57,73,81,6,9,14,11,10,74,B,1
487,Hwang Hee Chan,77,South Korea,Right,81,75,70,78,28,70,11,7,10,11,15,77,T,2
488,Jeong Seung Hyun,72,South Korea,Right,43,29,52,43,71,81,15,13,14,7,15,74,B,2
489,Jeong Woo Yeong,72,South Korea,Right,82,63,66,77,36,63,12,6,9,7,7,76,M,2
490,Jo Hyeon Woo,73,South Korea,Right,0,0,0,0,0,70,73,70,62,70,78,73,K,1
491,Kim Min Jae,79,South Korea,Right,80,33,57,62,79,84,13,7,11,14,11,77,M,1
492,Kim Tae Hwan,72,South Korea,Right,87,53,62,67,64,80,12,10,16,9,11,72,B,4
493,Lee Jae Sung,76,South Korea,Left,68,64,75,81,57,61,14,7,15,6,8,76,M,3
494,Lee Kang In,73,South Korea,Left,70,71,74,76,30,52,11,12,12,8,14,75,M,4

In [179]:
df_player.loc[df_player['nationality_name'].str.contains('United')]

,short_name,overall,nationality_name,preferred_foot,pace,shooting,passing,dribbling,defending,physic,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,Position_Best_Rating,Model_Position,rank_in_nation
891,A. Barman,67,United Arab Emirates,Left,61,51,59,62,65,73,8,14,10,10,13,68,M,2
892,B. Al Ahbabi,72,United Arab Emirates,Right,84,51,70,71,64,53,13,10,14,14,14,69,T,2
893,Caio Canedo,71,United Arab Emirates,Right,80,71,64,75,31,68,12,13,15,7,12,71,T,1
894,F. Waleed,61,United Arab Emirates,Right,67,44,52,56,57,71,13,5,12,11,10,61,B,4
895,K. Autonne,67,United Arab Emirates,Left,72,28,50,48,66,77,13,10,12,9,11,64,M,3
896,K. Eissa,71,United Arab Emirates,Right,0,0,0,0,0,70,71,66,60,70,76,71,K,1
897,M. Abbas,62,United Arab Emirates,Right,66,45,60,64,54,56,6,11,7,8,11,64,M,4
898,M. Shaker,63,United Arab Emirates,Right,56,27,40,43,63,70,8,13,7,7,15,65,B,1
899,S. Ahmed,62,United Arab Emirates,Left,73,49,57,62,57,61,12,10,6,15,15,62,B,3
900,S. Juma,65,United Arab Emirates,Right,77,40,53,57,61,74,12,15,13,6,5,65,B,2
901,Y. Nader,68,United Arab Emirates,Right,59,50,57,61,66,77,10,6,7,7,7,69,M,1
902,C. Carter-Vickers,74,United States,Right,74,26,55,63,74,81,13,6,8,16,10,76,B,3
903,C. Pulisic,82,United States,Right,87,71,73,86,37,59,8,12,13,16,14,81,T,1
904,C. Richards,74,United States,Right,78,27,58,55,74,73,13,5,13,7,6,76,B,4
905,D. Mihailovic,75,United States,Right,72,70,76,76,60,68,14,5,6,14,13,78,M,3
906,G. Reyna,77,United States,Right,78,71,74,82,36,71,10,13,14,12,7,79,M,1
907,J. Brooks,78,United States,Left,58,40,58,61,79,76,8,7,10,9,10,79,B,1
908,S. Dest,77,United States,Right,86,59,74,81,69,66,11,10,10,15,15,79,M,2
909,T. Adams,76,United States,Right,80,48,69,73,73,76,6,13,12,8,7,77,M,4
910,W. McKennie,80,United States,Right,82,74,76,80,78,83,7,9,12,9,11,81,T,2
911,W. Zimmerman,76,United States,Right,57,50,55,56,74,84,13,14,8,10,9,77,B,2
912,Z. Steffen,77,United States,Right,0,0,0,0,0,72,79,74,75,72,82,78,K,1

In [180]:
dataset.loc[dataset['team'].str.contains('United States')]

            team  total_points
5  United States       1627.48

In [181]:
# player datset 처리하기 
df_player['preferred_foot'] = np.where(df_player['preferred_foot'] == "Left", 1, 0)

In [182]:
df_player

,short_name,overall,nationality_name,preferred_foot,pace,shooting,passing,dribbling,defending,physic,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,Position_Best_Rating,Model_Position,rank_in_nation
0,A. Broja,75,Albania,0,76,74,54,75,29,76,9,7,15,8,9,77,T,1
1,A. Ismajli,71,Albania,0,72,28,48,61,74,65,9,14,10,12,13,73,B,2
2,B. Djimsiti,79,Albania,0,71,39,59,50,82,81,10,6,13,10,10,78,M,1
3,E. Hysaj,75,Albania,0,75,51,65,72,72,72,12,6,14,9,11,74,M,4
4,K. Asllani,72,Albania,0,66,61,70,70,69,62,9,8,12,6,6,72,B,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
952,L. Banda,65,Zambia,0,89,63,52,70,30,44,8,14,6,14,10,52,B,4
953,L. Musonda,66,Zambia,0,86,60,55,69,57,62,12,5,6,11,5,65,B,1
954,M. Chaiwa,55,Zambia,0,74,36,47,54,51,68,7,15,9,15,8,58,B,3
955,P. Daka,77,Zambia,0,90,78,60,75,24,70,8,6,9,5,11,79,T,1
956,S. Sunzu,73,Zambia,0,39,41,49,50,74,84,14,15,12,9,10,69,M,2

## Dataset과 Player23 합치기

In [183]:
player_features = df_player.keys().to_list()[1:-2]
player_features.pop(1)
player_features

['overall',
 'preferred_foot',
 'pace',
 'shooting',
 'passing',
 'dribbling',
 'defending',
 'physic',
 'goalkeeping_diving',
 'goalkeeping_handling',
 'goalkeeping_kicking',
 'goalkeeping_positioning',
 'goalkeeping_reflexes',
 'Position_Best_Rating']

In [184]:
# value 

for j in player_features:
  # 수비수 4명
  for i in range(1, 5):
    col = 'B'+str(i)+'_'+str(j)
    dataset[col] = np.nan

  # 미드필더 4명 
  for i in range(1, 5):
    col = 'M'+str(i)+'_'+str(j)
    dataset[col] = np.nan

  # 공격수 2명 
  for i in range(1, 3):
    col = 'T'+str(i)+'_'+str(j)
    dataset[col] = np.nan

  # 골키퍼 1명 
  col = 'K1_'+str(j)
  dataset[col] = np.nan

<ipython-input-184-69e74ef48733>:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dataset[col] = np.nan
<ipython-input-184-69e74ef48733>:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dataset[col] = np.nan
<ipython-input-184-69e74ef48733>:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dataset[col] = np.nan
<ipython-input-184-69e74ef48733>:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dataset[col] = np.nan

In [185]:
dataset

,team,total_points,B1_overall,B2_overall,B3_overall,B4_overall,M1_overall,M2_overall,M3_overall,M4_overall,...,B2_Position_Best_Rating,B3_Position_Best_Rating,B4_Position_Best_Rating,M1_Position_Best_Rating,M2_Position_Best_Rating,M3_Position_Best_Rating,M4_Position_Best_Rating,T1_Position_Best_Rating,T2_Position_Best_Rating,K1_Position_Best_Rating
0,Netherlands,1694.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Senegal,1584.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ecuador,1464.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Qatar,1439.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,England,1728.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,United States,1627.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Iran,1564.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Wales,1569.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Argentina,1773.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Poland,1548.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Mexico,1644.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Saudi Arabia,1437.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,France,1759.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Australia,1488.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Tunisia,1507.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Denmark,1666.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Japan,1559.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Spain,1715.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Germany,1650.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Costa Rica,1503.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Morocco,1563.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Croatia,1645.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Belgium,1816.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Canada,1475.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Brazil,1841.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Switzerland,1635.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Cameroon,1471.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Serbia,1563.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Portugal,1676.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,South Korea,1530.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Uruguay,1638.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Ghana,1393.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
dataset.columns.to_list()

['team',
 'total_points',
 'B1_overall',
 'B2_overall',
 'B3_overall',
 'B4_overall',
 'M1_overall',
 'M2_overall',
 'M3_overall',
 'M4_overall',
 'T1_overall',
 'T2_overall',
 'K1_overall',
 'B1_preferred_foot',
 'B2_preferred_foot',
 'B3_preferred_foot',
 'B4_preferred_foot',
 'M1_preferred_foot',
 'M2_preferred_foot',
 'M3_preferred_foot',
 'M4_preferred_foot',
 'T1_preferred_foot',
 'T2_preferred_foot',
 'K1_preferred_foot',
 'B1_pace',
 'B2_pace',
 'B3_pace',
 'B4_pace',
 'M1_pace',
 'M2_pace',
 'M3_pace',
 'M4_pace',
 'T1_pace',
 'T2_pace',
 'K1_pace',
 'B1_shooting',
 'B2_shooting',
 'B3_shooting',
 'B4_shooting',
 'M1_shooting',
 'M2_shooting',
 'M3_shooting',
 'M4_shooting',
 'T1_shooting',
 'T2_shooting',
 'K1_shooting',
 'B1_passing',
 'B2_passing',
 'B3_passing',
 'B4_passing',
 'M1_passing',
 'M2_passing',
 'M3_passing',
 'M4_passing',
 'T1_passing',
 'T2_passing',
 'K1_passing',
 'B1_dribbling',
 'B2_dribbling',
 'B3_dribbling',
 'B4_dribbling',
 'M1_dribbling',
 'M2_dribbling',
 'M3_dribbling',
 'M4_dribbling',
 'T1_dribbling',
 'T2_dribbling',
 'K1_dribbling',
 'B1_defending',
 'B2_defending',
 'B3_defending',
 'B4_defending',
 'M1_defending',
 'M2_defending',
 'M3_defending',
 'M4_defending',
 'T1_defending',
 'T2_defending',
 'K1_defending',
 'B1_physic',
 'B2_physic',
 'B3_physic',
 'B4_physic',
 'M1_physic',
 'M2_physic',
 'M3_physic',
 'M4_physic',
 'T1_physic',
 'T2_physic',
 'K1_physic',
 'B1_goalkeeping_diving',
 'B2_goalkeeping_diving',
 'B3_goalkeeping_diving',
 'B4_goalkeeping_diving',
 'M1_goalkeeping_diving',
 'M2_goalkeeping_diving',
 'M3_goalkeeping_diving',
 'M4_goalkeeping_diving',
 'T1_goalkeeping_diving',
 'T2_goalkeeping_diving',
 'K1_goalkeeping_diving',
 'B1_goalkeeping_handling',
 'B2_goalkeeping_handling',
 'B3_goalkeeping_handling',
 'B4_goalkeeping_handling',
 'M1_goalkeeping_handling',
 'M2_goalkeeping_handling',
 'M3_goalkeeping_handling',
 'M4_goalkeeping_handling',
 'T1_goalkeeping_handling',
 'T2_goalkeeping_handling',
 'K1_goalkeeping_handling',
 'B1_goalkeeping_kicking',
 'B2_goalkeeping_kicking',
 'B3_goalkeeping_kicking',
 'B4_goalkeeping_kicking',
 'M1_goalkeeping_kicking',
 'M2_goalkeeping_kicking',
 'M3_goalkeeping_kicking',
 'M4_goalkeeping_kicking',
 'T1_goalkeeping_kicking',
 'T2_goalkeeping_kicking',
 'K1_goalkeeping_kicking',
 'B1_goalkeeping_positioning',
 'B2_goalkeeping_positioning',
 'B3_goalkeeping_positioning',
 'B4_goalkeeping_positioning',
 'M1_goalkeeping_positioning',
 'M2_goalkeeping_positioning',
 'M3_goalkeeping_positioning',
 'M4_goalkeeping_positioning',
 'T1_goalkeeping_positioning',
 'T2_goalkeeping_positioning',
 'K1_goalkeeping_positioning',
 'B1_goalkeeping_reflexes',
 'B2_goalkeeping_reflexes',
 'B3_goalkeeping_reflexes',
 'B4_goalkeeping_reflexes',
 'M1_goalkeeping_reflexes',
 'M2_goalkeeping_reflexes',
 'M3_goalkeeping_reflexes',
 'M4_goalkeeping_reflexes',
 'T1_goalkeeping_reflexes',
 'T2_goalkeeping_reflexes',
 'K1_goalkeeping_reflexes',
 'B1_Position_Best_Rating',
 'B2_Position_Best_Rating',
 'B3_Position_Best_Rating',
 'B4_Position_Best_Rating',
 'M1_Position_Best_Rating',
 'M2_Position_Best_Rating',
 'M3_Position_Best_Rating',
 'M4_Position_Best_Rating',
 'T1_Position_Best_Rating',
 'T2_Position_Best_Rating',
 'K1_Position_Best_Rating']

In [187]:
dataset.shape

(32, 156)

In [188]:
# # 선수 dataset 모든 feature 합치기 
# for i in player_features:
#   col1 = 'home_'+ str(i)
#   col2 = 'away_'+ str(i)
#   dataset[col1] = np.nan
#   dataset[col2] = np.nan

In [189]:
df_player

,short_name,overall,nationality_name,preferred_foot,pace,shooting,passing,dribbling,defending,physic,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,Position_Best_Rating,Model_Position,rank_in_nation
0,A. Broja,75,Albania,0,76,74,54,75,29,76,9,7,15,8,9,77,T,1
1,A. Ismajli,71,Albania,0,72,28,48,61,74,65,9,14,10,12,13,73,B,2
2,B. Djimsiti,79,Albania,0,71,39,59,50,82,81,10,6,13,10,10,78,M,1
3,E. Hysaj,75,Albania,0,75,51,65,72,72,72,12,6,14,9,11,74,M,4
4,K. Asllani,72,Albania,0,66,61,70,70,69,62,9,8,12,6,6,72,B,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
952,L. Banda,65,Zambia,0,89,63,52,70,30,44,8,14,6,14,10,52,B,4
953,L. Musonda,66,Zambia,0,86,60,55,69,57,62,12,5,6,11,5,65,B,1
954,M. Chaiwa,55,Zambia,0,74,36,47,54,51,68,7,15,9,15,8,58,B,3
955,P. Daka,77,Zambia,0,90,78,60,75,24,70,8,6,9,5,11,79,T,1
956,S. Sunzu,73,Zambia,0,39,41,49,50,74,84,14,15,12,9,10,69,M,2

In [190]:
data = df_player['overall'].loc[(df_player['rank_in_nation'] == 1) & (df_player['Model_Position'] == 'B') & (df_player['nationality_name'] == 'Albania' )]
data

6    75
Name: overall, dtype: int64

In [191]:
for index in notebook.tqdm(dataset.index):
  team1 = dataset.loc[index, ['team']]
  team1 = team1[0]

  # position B (수비수) 4명 
  for i in range(1, 5):
    for j in player_features:
      col1 = 'B'+str(i)+'_'+j
      try:
        data = df_player[str(j)].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'B') & (df_player['nationality_name'] == team1 )]
        dataset.loc[index, [col1]] = float(data)
      except:
        continue

  # position M (미드필더) 4명 
  for i in range(1, 5):
    for j in player_features:
      col1 = 'M'+str(i)+'_'+j
      try:
          data = df_player[str(j)].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'M') & (df_player['nationality_name'] == team1 )]
          dataset.loc[index, [col1]] = float(data)
      except:
        continue

  # position (공격수) 2명 -> T
  for i in range(1, 3):
    for j in player_features:
      col1 = 'T'+str(i)+'_'+j
      try:
          data = df_player[str(j)].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'T') & (df_player['nationality_name'] == team1 )]
          dataset.loc[index, [col1]] = float(data)
      except:
        continue

  # # 골키퍼 
  for j in player_features:
    col1 = 'K1_'+j
    try:
        data = df_player[str(j)].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'T') & (df_player['nationality_name'] == team1 )]
        dataset.loc[index, [col1]] = float(data)
    except:
      continue

  0%|          | 0/32 [00:00<?, ?it/s]

577    85
Name: overall, dtype: int64
577    0
Name: preferred_foot, dtype: int64
577    75
Name: pace, dtype: int64
577    59
Name: shooting, dtype: int64
577    61
Name: passing, dtype: int64
577    69
Name: dribbling, dtype: int64
577    84
Name: defending, dtype: int64
577    87
Name: physic, dtype: int64
577    12
Name: goalkeeping_diving, dtype: int64
577    11
Name: goalkeeping_handling, dtype: int64
577    11
Name: goalkeeping_kicking, dtype: int64
577    12
Name: goalkeeping_positioning, dtype: int64
577    10
Name: goalkeeping_reflexes, dtype: int64
577    87
Name: Position_Best_Rating, dtype: int64
581    84
Name: overall, dtype: int64
581    0
Name: preferred_foot, dtype: int64
581    68
Name: pace, dtype: int64
581    41
Name: shooting, dtype: int64
581    65
Name: passing, dtype: int64
581    69
Name: dribbling, dtype: int64
581    87
Name: defending, dtype: int64
581    79
Name: physic, dtype: int64
581    8
Name: goalkeeping_diving, dtype: int64
581    10
Name: goalkeeping_handling, dtype: int64
581    7
Name: goalkeeping_kicking, dtype: int64
581    14
Name: goalkeeping_positioning, dtype: int64
581    13
Name: goalkeeping_reflexes, dtype: int64
581    84
Name: Position_Best_Rating, dtype: int64
574    82
Name: overall, dtype: int64
574    0
Name: preferred_foot, dtype: int64
574    83
Name: pace, dtype: int64
574    63
Name: shooting, dtype: int64
574    70
Name: passing, dtype: int64
574    73
Name: dribbling, dtype: int64
574    78
Name: defending, dtype: int64
574    89
Name: physic, dtype: int64
574    10
Name: goalkeeping_diving, dtype: int64
574    10
Name: goalkeeping_handling, dtype: int64
574    7
Name: goalkeeping_kicking, dtype: int64
574    13
Name: goalkeeping_positioning, dtype: int64
574    14
Name: goalkeeping_reflexes, dtype: int64
574    83
Name: Position_Best_Rating, dtype: int64
576    80
Name: overall, dtype: int64
576    0
Name: preferred_foot, dtype: int64
576    82
Name: pace, dtype: int64
576    47
Name: shooting, dtype: int64
576    67
Name: passing, dtype: int64
576    77
Name: dribbling, dtype: int64
576    81
Name: defending, dtype: int64
576    81
Name: physic, dtype: int64
576    6
Name: goalkeeping_diving, dtype: int64
576    6
Name: goalkeeping_handling, dtype: int64
576    8
Name: goalkeeping_kicking, dtype: int64
576    14
Name: goalkeeping_positioning, dtype: int64
576    14
Name: goalkeeping_reflexes, dtype: int64
576    82
Name: Position_Best_Rating, dtype: int64
761    77
Name: overall, dtype: int64
761    0
Name: preferred_foot, dtype: int64
761    60
Name: pace, dtype: int64
761    64
Name: shooting, dtype: int64
761    63
Name: passing, dtype: int64
761    69
Name: dribbling, dtype: int64
761    77
Name: defending, dtype: int64
761    84
Name: physic, dtype: int64
761    15
Name: goalkeeping_diving, dtype: int64
761    8
Name: goalkeeping_handling, dtype: int64
761    9
Name: goalkeeping_kicking, dtype: int64
761    12
Name: goalkeeping_positioning, dtype: int64
761    9
Name: goalkeeping_reflexes, dtype: int64
761    77
Name: Position_Best_Rating, dtype: int64
766    76
Name: overall, dtype: int64
766    1
Name: preferred_foot, dtype: int64
766    63
Name: pace, dtype: int64
766    48
Name: shooting, dtype: int64
766    66
Name: passing, dtype: int64
766    70
Name: dribbling, dtype: int64
766    73
Name: defending, dtype: int64
766    79
Name: physic, dtype: int64
766    12
Name: goalkeeping_diving, dtype: int64
766    12
Name: goalkeeping_handling, dtype: int64
766    12
Name: goalkeeping_kicking, dtype: int64
766    14
Name: goalkeeping_positioning, dtype: int64
766    12
Name: goalkeeping_reflexes, dtype: int64
766    76
Name: Position_Best_Rating, dtype: int64
768    76
Name: overall, dtype: int64
768    0
Name: preferred_foot, dtype: int64
768    77
Name: pace, dtype: int64
768    46
Name: shooting, dtype: int64
768    64
Name: passing, dtype: int64
768    71
Name: dribbling, dtype: int64
768    73
Name: defending, dtype: int64
768    70
Name: physic, dtype: int64
768    9
Name: goalkeeping_diving, dtype: int64
768    11
Name: goalkeeping_handling, dtype: int64
768    8
Name: goalkeeping_kicking, dtype: int64
768    15
Name: goalkeeping_positioning, dtype: int64
768    11
Name: goalkeeping_reflexes, dtype: int64
768    76
Name: Position_Best_Rating, dtype: int64
765    73
Name: overall, dtype: int64
765    0
Name: preferred_foot, dtype: int64
765    43
Name: pace, dtype: int64
765    53
Name: shooting, dtype: int64
765    60
Name: passing, dtype: int64
765    63
Name: dribbling, dtype: int64
765    72
Name: defending, dtype: int64
765    80
Name: physic, dtype: int64
765    11
Name: goalkeeping_diving, dtype: int64
765    13
Name: goalkeeping_handling, dtype: int64
765    11
Name: goalkeeping_kicking, dtype: int64
765    8
Name: goalkeeping_positioning, dtype: int64
765    6
Name: goalkeeping_reflexes, dtype: int64
765    75
Name: Position_Best_Rating, dtype: int64
298    71
Name: overall, dtype: int64
298    1
Name: preferred_foot, dtype: int64
298    75
Name: pace, dtype: int64
298    33
Name: shooting, dtype: int64
298    63
Name: passing, dtype: int64
298    70
Name: dribbling, dtype: int64
298    67
Name: defending, dtype: int64
298    67
Name: physic, dtype: int64
298    7
Name: goalkeeping_diving, dtype: int64
298    10
Name: goalkeeping_handling, dtype: int64
298    9
Name: goalkeeping_kicking, dtype: int64
298    7
Name: goalkeeping_positioning, dtype: int64
298    9
Name: goalkeeping_reflexes, dtype: int64
298    72
Name: Position_Best_Rating, dtype: int64
297    72
Name: overall, dtype: int64
297    0
Name: preferred_foot, dtype: int64
297    61
Name: pace, dtype: int64
297    46
Name: shooting, dtype: int64
297    61
Name: passing, dtype: int64
297    67
Name: dribbling, dtype: int64
297    68
Name: defending, dtype: int64
297    73
Name: physic, dtype: int64
297    9
Name: goalkeeping_diving, dtype: int64
297    10
Name: goalkeeping_handling, dtype: int64
297    12
Name: goalkeeping_kicking, dtype: int64
297    12
Name: goalkeeping_positioning, dtype: int64
297    11
Name: goalkeeping_reflexes, dtype: int64
297    71
Name: Position_Best_Rating, dtype: int64
302    69
Name: overall, dtype: int64
302    1
Name: preferred_foot, dtype: int64
302    71
Name: pace, dtype: int64
302    42
Name: shooting, dtype: int64
302    54
Name: passing, dtype: int64
302    55
Name: dribbling, dtype: int64
302    68
Name: defending, dtype: int64
302    76
Name: physic, dtype: int64
302    8
Name: goalkeeping_diving, dtype: int64
302    10
Name: goalkeeping_handling, dtype: int64
302    10
Name: goalkeeping_kicking, dtype: int64
302    11
Name: goalkeeping_positioning, dtype: int64
302    15
Name: goalkeeping_reflexes, dtype: int64
302    71
Name: Position_Best_Rating, dtype: int64
307    69
Name: overall, dtype: int64
307    0
Name: preferred_foot, dtype: int64
307    57
Name: pace, dtype: int64
307    28
Name: shooting, dtype: int64
307    49
Name: passing, dtype: int64
307    56
Name: dribbling, dtype: int64
307    69
Name: defending, dtype: int64
307    73
Name: physic, dtype: int64
307    7
Name: goalkeeping_diving, dtype: int64
307    13
Name: goalkeeping_handling, dtype: int64
307    8
Name: goalkeeping_kicking, dtype: int64
307    11
Name: goalkeeping_positioning, dtype: int64
307    8
Name: goalkeeping_reflexes, dtype: int64
307    71
Name: Position_Best_Rating, dtype: int64
699    71
Name: overall, dtype: int64
699    0
Name: preferred_foot, dtype: int64
699    62
Name: pace, dtype: int64
699    60
Name: shooting, dtype: int64
699    57
Name: passing, dtype: int64
699    54
Name: dribbling, dtype: int64
699    70
Name: defending, dtype: int64
699    77
Name: physic, dtype: int64
699    9
Name: goalkeeping_diving, dtype: int64
699    14
Name: goalkeeping_handling, dtype: int64
699    6
Name: goalkeeping_kicking, dtype: int64
699    14
Name: goalkeeping_positioning, dtype: int64
699    7
Name: goalkeeping_reflexes, dtype: int64
699    71
Name: Position_Best_Rating, dtype: int64
698    68
Name: overall, dtype: int64
698    0
Name: preferred_foot, dtype: int64
698    72
Name: pace, dtype: int64
698    47
Name: shooting, dtype: int64
698    60
Name: passing, dtype: int64
698    64
Name: dribbling, dtype: int64
698    66
Name: defending, dtype: int64
698    73
Name: physic, dtype: int64
698    8
Name: goalkeeping_diving, dtype: int64
698    8
Name: goalkeeping_handling, dtype: int64
698    9
Name: goalkeeping_kicking, dtype: int64
698    14
Name: goalkeeping_positioning, dtype: int64
698    9
Name: goalkeeping_reflexes, dtype: int64
698    70
Name: Position_Best_Rating, dtype: int64
702    69
Name: overall, dtype: int64
702    0
Name: preferred_foot, dtype: int64
702    74
Name: pace, dtype: int64
702    38
Name: shooting, dtype: int64
702    60
Name: passing, dtype: int64
702    61
Name: dribbling, dtype: int64
702    65
Name: defending, dtype: int64
702    77
Name: physic, dtype: int64
702    11
Name: goalkeeping_diving, dtype: int64
702    10
Name: goalkeeping_handling, dtype: int64
702    15
Name: goalkeeping_kicking, dtype: int64
702    7
Name: goalkeeping_positioning, dtype: int64
702    9
Name: goalkeeping_reflexes, dtype: int64
702    69
Name: Position_Best_Rating, dtype: int64
697    66
Name: overall, dtype: int64
697    0
Name: preferred_foot, dtype: int64
697    82
Name: pace, dtype: int64
697    38
Name: shooting, dtype: int64
697    53
Name: passing, dtype: int64
697    61
Name: dribbling, dtype: int64
697    65
Name: defending, dtype: int64
697    74
Name: physic, dtype: int64
697    12
Name: goalkeeping_diving, dtype: int64
697    11
Name: goalkeeping_handling, dtype: int64
697    15
Name: goalkeeping_kicking, dtype: int64
697    7
Name: goalkeeping_positioning, dtype: int64
697    15
Name: goalkeeping_reflexes, dtype: int64
697    68
Name: Position_Best_Rating, dtype: int64
308    84
Name: overall, dtype: int64
308    0
Name: preferred_foot, dtype: int64
308    86
Name: pace, dtype: int64
308    40
Name: shooting, dtype: int64
308    60
Name: passing, dtype: int64
308    66
Name: dribbling, dtype: int64
308    86
Name: defending, dtype: int64
308    81
Name: physic, dtype: int64
308    10
Name: goalkeeping_diving, dtype: int64
308    13
Name: goalkeeping_handling, dtype: int64
308    10
Name: goalkeeping_kicking, dtype: int64
308    11
Name: goalkeeping_positioning, dtype: int64
308    7
Name: goalkeeping_reflexes, dtype: int64
308    86
Name: Position_Best_Rating, dtype: int64
313    85
Name: overall, dtype: int64
313    0
Name: preferred_foot, dtype: int64
313    91
Name: pace, dtype: int64
313    63
Name: shooting, dtype: int64
313    77
Name: passing, dtype: int64
313    78
Name: dribbling, dtype: int64
313    80
Name: defending, dtype: int64
313    82
Name: physic, dtype: int64
313    12
Name: goalkeeping_diving, dtype: int64
313    6
Name: goalkeeping_handling, dtype: int64
313    16
Name: goalkeeping_kicking, dtype: int64
313    15
Name: goalkeeping_positioning, dtype: int64
313    8
Name: goalkeeping_reflexes, dtype: int64
313    85
Name: Position_Best_Rating, dtype: int64
311    83
Name: overall, dtype: int64
311    0
Name: preferred_foot, dtype: int64
311    72
Name: pace, dtype: int64
311    51
Name: shooting, dtype: int64
311    71
Name: passing, dtype: int64
311    75
Name: dribbling, dtype: int64
311    84
Name: defending, dtype: int64
311    77
Name: physic, dtype: int64
311    7
Name: goalkeeping_diving, dtype: int64
311    15
Name: goalkeeping_handling, dtype: int64
311    11
Name: goalkeeping_kicking, dtype: int64
311    10
Name: goalkeeping_positioning, dtype: int64
311    8
Name: goalkeeping_reflexes, dtype: int64
311    84
Name: Position_Best_Rating, dtype: int64
316    84
Name: overall, dtype: int64
316    0
Name: preferred_foot, dtype: int64
316    81
Name: pace, dtype: int64
316    70
Name: shooting, dtype: int64
316    82
Name: passing, dtype: int64
316    82
Name: dribbling, dtype: int64
316    80
Name: defending, dtype: int64
316    82
Name: physic, dtype: int64
316    8
Name: goalkeeping_diving, dtype: int64
316    12
Name: goalkeeping_handling, dtype: int64
316    7
Name: goalkeeping_kicking, dtype: int64
316    13
Name: goalkeeping_positioning, dtype: int64
316    11
Name: goalkeeping_reflexes, dtype: int64
316    84
Name: Position_Best_Rating, dtype: int64
907    78
Name: overall, dtype: int64
907    1
Name: preferred_foot, dtype: int64
907    58
Name: pace, dtype: int64
907    40
Name: shooting, dtype: int64
907    58
Name: passing, dtype: int64
907    61
Name: dribbling, dtype: int64
907    79
Name: defending, dtype: int64
907    76
Name: physic, dtype: int64
907    8
Name: goalkeeping_diving, dtype: int64
907    7
Name: goalkeeping_handling, dtype: int64
907    10
Name: goalkeeping_kicking, dtype: int64
907    9
Name: goalkeeping_positioning, dtype: int64
907    10
Name: goalkeeping_reflexes, dtype: int64
907    79
Name: Position_Best_Rating, dtype: int64
911    76
Name: overall, dtype: int64
911    0
Name: preferred_foot, dtype: int64
911    57
Name: pace, dtype: int64
911    50
Name: shooting, dtype: int64
911    55
Name: passing, dtype: int64
911    56
Name: dribbling, dtype: int64
911    74
Name: defending, dtype: int64
911    84
Name: physic, dtype: int64
911    13
Name: goalkeeping_diving, dtype: int64
911    14
Name: goalkeeping_handling, dtype: int64
911    8
Name: goalkeeping_kicking, dtype: int64
911    10
Name: goalkeeping_positioning, dtype: int64
911    9
Name: goalkeeping_reflexes, dtype: int64
911    77
Name: Position_Best_Rating, dtype: int64
902    74
Name: overall, dtype: int64
902    0
Name: preferred_foot, dtype: int64
902    74
Name: pace, dtype: int64
902    26
Name: shooting, dtype: int64
902    55
Name: passing, dtype: int64
902    63
Name: dribbling, dtype: int64
902    74
Name: defending, dtype: int64
902    81
Name: physic, dtype: int64
902    13
Name: goalkeeping_diving, dtype: int64
902    6
Name: goalkeeping_handling, dtype: int64
902    8
Name: goalkeeping_kicking, dtype: int64
902    16
Name: goalkeeping_positioning, dtype: int64
902    10
Name: goalkeeping_reflexes, dtype: int64
902    76
Name: Position_Best_Rating, dtype: int64
904    74
Name: overall, dtype: int64
904    0
Name: preferred_foot, dtype: int64
904    78
Name: pace, dtype: int64
904    27
Name: shooting, dtype: int64
904    58
Name: passing, dtype: int64
904    55
Name: dribbling, dtype: int64
904    74
Name: defending, dtype: int64
904    73
Name: physic, dtype: int64
904    13
Name: goalkeeping_diving, dtype: int64
904    5
Name: goalkeeping_handling, dtype: int64
904    13
Name: goalkeeping_kicking, dtype: int64
904    7
Name: goalkeeping_positioning, dtype: int64
904    6
Name: goalkeeping_reflexes, dtype: int64
904    76
Name: Position_Best_Rating, dtype: int64
439    72
Name: overall, dtype: int64
439    0
Name: preferred_foot, dtype: int64
439    80
Name: pace, dtype: int64
439    30
Name: shooting, dtype: int64
439    59
Name: passing, dtype: int64
439    68
Name: dribbling, dtype: int64
439    70
Name: defending, dtype: int64
439    60
Name: physic, dtype: int64
439    6
Name: goalkeeping_diving, dtype: int64
439    13
Name: goalkeeping_handling, dtype: int64
439    7
Name: goalkeeping_kicking, dtype: int64
439    14
Name: goalkeeping_positioning, dtype: int64
439    9
Name: goalkeeping_reflexes, dtype: int64
439    72
Name: Position_Best_Rating, dtype: int64
434    68
Name: overall, dtype: int64
434    0
Name: preferred_foot, dtype: int64
434    64
Name: pace, dtype: int64
434    30
Name: shooting, dtype: int64
434    46
Name: passing, dtype: int64
434    51
Name: dribbling, dtype: int64
434    70
Name: defending, dtype: int64
434    69
Name: physic, dtype: int64
434    6
Name: goalkeeping_diving, dtype: int64
434    13
Name: goalkeeping_handling, dtype: int64
434    12
Name: goalkeeping_kicking, dtype: int64
434    12
Name: goalkeeping_positioning, dtype: int64
434    13
Name: goalkeeping_reflexes, dtype: int64
434    70
Name: Position_Best_Rating, dtype: int64
438    66
Name: overall, dtype: int64
438    0
Name: preferred_foot, dtype: int64
438    64
Name: pace, dtype: int64
438    51
Name: shooting, dtype: int64
438    66
Name: passing, dtype: int64
438    66
Name: dribbling, dtype: int64
438    63
Name: defending, dtype: int64
438    67
Name: physic, dtype: int64
438    12
Name: goalkeeping_diving, dtype: int64
438    8
Name: goalkeeping_handling, dtype: int64
438    7
Name: goalkeeping_kicking, dtype: int64
438    16
Name: goalkeeping_positioning, dtype: int64
438    7
Name: goalkeeping_reflexes, dtype: int64
438    66
Name: Position_Best_Rating, dtype: int64
432    65
Name: overall, dtype: int64
432    0
Name: preferred_foot, dtype: int64
432    59
Name: pace, dtype: int64
432    60
Name: shooting, dtype: int64
432    64
Name: passing, dtype: int64
432    66
Name: dribbling, dtype: int64
432    62
Name: defending, dtype: int64
432    65
Name: physic, dtype: int64
432    6
Name: goalkeeping_diving, dtype: int64
432    14
Name: goalkeeping_handling, dtype: int64
432    13
Name: goalkeeping_kicking, dtype: int64
432    9
Name: goalkeeping_positioning, dtype: int64
432    5
Name: goalkeeping_reflexes, dtype: int64
432    65
Name: Position_Best_Rating, dtype: int64
937    75
Name: overall, dtype: int64
937    0
Name: preferred_foot, dtype: int64
937    78
Name: pace, dtype: int64
937    54
Name: shooting, dtype: int64
937    66
Name: passing, dtype: int64
937    69
Name: dribbling, dtype: int64
937    69
Name: defending, dtype: int64
937    74
Name: physic, dtype: int64
937    6
Name: goalkeeping_diving, dtype: int64
937    12
Name: goalkeeping_handling, dtype: int64
937    8
Name: goalkeeping_kicking, dtype: int64
937    12
Name: goalkeeping_positioning, dtype: int64
937    13
Name: goalkeeping_reflexes, dtype: int64
937    76
Name: Position_Best_Rating, dtype: int64
941    73
Name: overall, dtype: int64
941    0
Name: preferred_foot, dtype: int64
941    65
Name: pace, dtype: int64
941    49
Name: shooting, dtype: int64
941    63
Name: passing, dtype: int64
941    69
Name: dribbling, dtype: int64
941    72
Name: defending, dtype: int64
941    70
Name: physic, dtype: int64
941    13
Name: goalkeeping_diving, dtype: int64
941    12
Name: goalkeeping_handling, dtype: int64
941    9
Name: goalkeeping_kicking, dtype: int64
941    8
Name: goalkeeping_positioning, dtype: int64
941    12
Name: goalkeeping_reflexes, dtype: int64
941    74
Name: Position_Best_Rating, dtype: int64
944    72
Name: overall, dtype: int64
944    0
Name: preferred_foot, dtype: int64
944    58
Name: pace, dtype: int64
944    29
Name: shooting, dtype: int64
944    49
Name: passing, dtype: int64
944    57
Name: dribbling, dtype: int64
944    74
Name: defending, dtype: int64
944    72
Name: physic, dtype: int64
944    10
Name: goalkeeping_diving, dtype: int64
944    13
Name: goalkeeping_handling, dtype: int64
944    7
Name: goalkeeping_kicking, dtype: int64
944    11
Name: goalkeeping_positioning, dtype: int64
944    8
Name: goalkeeping_reflexes, dtype: int64
944    74
Name: Position_Best_Rating, dtype: int64
945    73
Name: overall, dtype: int64
945    1
Name: preferred_foot, dtype: int64
945    62
Name: pace, dtype: int64
945    40
Name: shooting, dtype: int64
945    63
Name: passing, dtype: int64
945    67
Name: dribbling, dtype: int64
945    75
Name: defending, dtype: int64
945    69
Name: physic, dtype: int64
945    15
Name: goalkeeping_diving, dtype: int64
945    11
Name: goalkeeping_handling, dtype: int64
945    13
Name: goalkeeping_kicking, dtype: int64
945    11
Name: goalkeeping_positioning, dtype: int64
945    13
Name: goalkeeping_reflexes, dtype: int64
945    73
Name: Position_Best_Rating, dtype: int64
22    83
Name: overall, dtype: int64
22    0
Name: preferred_foot, dtype: int64
22    73
Name: pace, dtype: int64
22    46
Name: shooting, dtype: int64
22    57
Name: passing, dtype: int64
22    65
Name: dribbling, dtype: int64
22    85
Name: defending, dtype: int64
22    82
Name: physic, dtype: int64
22    5

In [192]:
dataset

,team,total_points,B1_overall,B2_overall,B3_overall,B4_overall,M1_overall,M2_overall,M3_overall,M4_overall,...,B2_Position_Best_Rating,B3_Position_Best_Rating,B4_Position_Best_Rating,M1_Position_Best_Rating,M2_Position_Best_Rating,M3_Position_Best_Rating,M4_Position_Best_Rating,T1_Position_Best_Rating,T2_Position_Best_Rating,K1_Position_Best_Rating
0,Netherlands,1694.51,85.0,84.0,82.0,80.0,87.0,90.0,82.0,80.0,...,84.0,83.0,82.0,89.0,88.0,83.0,83.0,85.0,83.0,83.0
1,Senegal,1584.38,77.0,76.0,76.0,73.0,82.0,87.0,77.0,77.0,...,76.0,76.0,75.0,82.0,82.0,78.0,78.0,89.0,81.0,81.0
2,Ecuador,1464.39,71.0,72.0,69.0,69.0,78.0,79.0,73.0,70.0,...,71.0,71.0,71.0,77.0,75.0,74.0,74.0,78.0,75.0,75.0
3,Qatar,1439.89,71.0,68.0,69.0,66.0,72.0,72.0,71.0,70.0,...,70.0,69.0,68.0,72.0,72.0,71.0,69.0,76.0,74.0,74.0
4,England,1728.47,84.0,85.0,83.0,84.0,85.0,87.0,84.0,86.0,...,85.0,84.0,84.0,88.0,88.0,86.0,86.0,89.0,86.0,86.0
5,United States,1627.48,78.0,76.0,74.0,74.0,77.0,77.0,75.0,76.0,...,77.0,76.0,76.0,79.0,79.0,78.0,77.0,81.0,81.0,81.0
6,Iran,1564.61,72.0,68.0,66.0,65.0,73.0,72.0,72.0,70.0,...,70.0,66.0,65.0,74.0,72.0,72.0,70.0,81.0,81.0,81.0
7,Wales,1569.82,75.0,73.0,72.0,73.0,79.0,78.0,76.0,77.0,...,74.0,74.0,73.0,79.0,78.0,78.0,78.0,81.0,76.0,76.0
8,Argentina,1773.88,83.0,81.0,81.0,81.0,86.0,85.0,84.0,84.0,...,83.0,82.0,81.0,86.0,85.0,84.0,84.0,91.0,88.0,88.0
9,Poland,1548.59,76.0,75.0,74.0,74.0,76.0,78.0,79.0,76.0,...,77.0,74.0,74.0,79.0,78.0,78.0,77.0,91.0,82.0,82.0
10,Mexico,1644.89,77.0,80.0,77.0,76.0,81.0,80.0,81.0,81.0,...,79.0,77.0,77.0,81.0,81.0,81.0,81.0,83.0,82.0,82.0
11,Saudi Arabia,1437.78,71.0,71.0,69.0,67.0,72.0,73.0,69.0,70.0,...,71.0,69.0,69.0,72.0,71.0,70.0,70.0,77.0,70.0,70.0
12,France,1759.78,84.0,83.0,85.0,84.0,86.0,89.0,86.0,83.0,...,86.0,86.0,85.0,89.0,89.0,87.0,86.0,92.0,91.0,91.0
13,Australia,1488.72,72.0,72.0,72.0,68.0,76.0,72.0,70.0,72.0,...,72.0,72.0,71.0,76.0,74.0,74.0,73.0,74.0,73.0,73.0
14,Tunisia,1507.54,71.0,70.0,67.0,68.0,72.0,72.0,73.0,71.0,...,70.0,69.0,68.0,73.0,73.0,73.0,72.0,75.0,75.0,75.0
15,Denmark,1666.57,79.0,77.0,78.0,77.0,83.0,82.0,81.0,82.0,...,79.0,78.0,78.0,84.0,81.0,81.0,80.0,79.0,79.0,79.0
16,Japan,1559.54,75.0,74.0,72.0,74.0,79.0,77.0,78.0,76.0,...,75.0,74.0,74.0,79.0,78.0,78.0,77.0,79.0,78.0,78.0
17,Spain,1715.22,86.0,85.0,84.0,83.0,87.0,86.0,85.0,86.0,...,85.0,85.0,85.0,87.0,86.0,86.0,86.0,85.0,85.0,85.0
18,Germany,1650.21,87.0,85.0,84.0,82.0,89.0,88.0,84.0,85.0,...,87.0,84.0,84.0,89.0,88.0,86.0,85.0,87.0,86.0,86.0
19,Costa Rica,1503.59,67.0,68.0,63.0,65.0,74.0,71.0,69.0,68.0,...,68.0,66.0,66.0,71.0,70.0,69.0,69.0,71.0,70.0,70.0
20,Morocco,1563.50,77.0,77.0,76.0,76.0,84.0,82.0,79.0,80.0,...,77.0,76.0,75.0,84.0,83.0,79.0,79.0,82.0,82.0,82.0
21,Croatia,1645.64,81.0,78.0,78.0,78.0,86.0,84.0,82.0,80.0,...,80.0,79.0,78.0,86.0,84.0,82.0,82.0,84.0,83.0,83.0
22,Belgium,1816.71,82.0,81.0,77.0,78.0,84.0,85.0,84.0,84.0,...,81.0,79.0,79.0,86.0,85.0,84.0,84.0,88.0,86.0,86.0
23,Canada,1475.00,70.0,71.0,71.0,72.0,76.0,74.0,72.0,72.0,...,73.0,72.0,72.0,77.0,74.0,73.0,72.0,82.0,81.0,81.0
24,Brazil,1841.30,84.0,83.0,83.0,83.0,89.0,87.0,88.0,86.0,...,84.0,83.0,83.0,89.0,88.0,88.0,85.0,88.0,85.0,85.0
25,Switzerland,1635.92,77.0,77.0,77.0,77.0,80.0,81.0,81.0,80.0,...,77.0,77.0,77.0,82.0,82.0,82.0,80.0,79.0,77.0,77.0
26,Cameroon,1471.44,74.0,75.0,74.0,72.0,84.0,75.0,73.0,73.0,...,75.0,74.0,74.0,83.0,76.0,76.0,75.0,78.0,77.0,77.0
27,Serbia,1563.62,80.0,79.0,75.0,79.0,85.0,84.0,79.0,77.0,...,79.0,78.0,77.0,85.0,84.0,80.0,79.0,86.0,85.0,85.0
28,Portugal,1676.56,81.0,83.0,82.0,81.0,88.0,84.0,86.0,88.0,...,83.0,82.0,81.0,88.0,87.0,86.0,86.0,90.0,86.0,86.0
29,South Korea,1530.30,74.0,72.0,72.0,72.0,79.0,72.0,76.0,73.0,...,74.0,72.0,72.0,77.0,76.0,76.0,75.0,88.0,77.0,77.0
30,Uruguay,1638.71,83.0,83.0,82.0,78.0,84.0,81.0,79.0,80.0,...,84.0,82.0,78.0,85.0,82.0,82.0,81.0,84.0,84.0,84.0
31,Ghana,1393.00,78.0,77.0,77.0,76.0,76.0,75.0,76.0,76.0,...,79.0,79.0,77.0,78.0,77.0,76.0,76.0,81.0,78.0,78.0

In [193]:
new_dataset = dataset

In [194]:
new_dataset.isnull().sum()

team                       0
total_points               0
B1_overall                 0
B2_overall                 0
B3_overall                 0
                          ..
M3_Position_Best_Rating    0
M4_Position_Best_Rating    0
T1_Position_Best_Rating    0
T2_Position_Best_Rating    0
K1_Position_Best_Rating    0
Length: 156, dtype: int64

In [195]:
dataset.to_csv('/content/drive/MyDrive/2022/BigData/input_test.csv') # 최종 dataset 출력